.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img {
  max-width: 50rem;
  height: 50rem;
  padding: 0 15px;
  object-fit: cover;
}

img:last-of-type {
  padding-left: 0;
}

.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 50rem;
}

.wrapper {
  position: absolute;
  display: flex;
}

section {
  display: flex;
  animation: swipe 25500ms linear infinite backwards;
  -webkit-animation: swipe 25500ms linear infinite backwards;

  animation-name: swipe;
  animation-duration: 25500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: backwards;

  -webkit-animation-name: swipe;
  -webkit-animation-duration: 25500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
    -webkit-transform: translate(0);
  }

  100% {
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
  }
}

@-webkit-keyframes swipe {
  0% {
    transform: translate(0);
    -webkit-transform: translate(0);
  }

  100% {
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
  }
}